<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ "/assets/css/style.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
  <script>
    (function(apiKey){
        (function(p,e,n,d,o){var v,w,x,y,z;o=p[d]=p[d]||{};o._q=o._q||[];
        v=['initialize','identify','updateOptions','pageLoad','track'];for(w=0,x=v.length;w<x;++w)(function(m){
            o[m]=o[m]||function(){o._q[m===v[0]?'unshift':'push']([m].concat([].slice.call(arguments,0)));};})(v[w]);
            y=e.createElement(n);y.async=!0;y.src='https://pendo-mobile-guides-static.storage.googleapis.com/agent/static/'+apiKey+'/pendo.js';
            z=e.getElementsByTagName(n)[0];z.parentNode.insertBefore(y,z);})(window,document,'script','pendo');
    
            // Call this whenever information about your visitors becomes available
            // Please use Strings, Numbers, or Bools for value types.
            pendo.initialize({
                visitor: {
                    //id:              'VISITOR-UNIQUE-ID'   // Required if user is logged in
                    email: 'whatever'+Math.random()
                    // full_name:    // Recommended if using Pendo Feedback
                    // role:         // Optional
    
                    // You can add any additional visitor level key-values here,
                    // as long as it's not one of the above reserved names.
                },
    
                account: {
                    //id:           'ACCOUNT-UNIQUE-ID' // Required if using Pendo Feedback
                    // name:         // Optional
                    // is_paying:    // Recommended if using Pendo Feedback
                    // monthly_value:// Recommended if using Pendo Feedback
                    // planLevel:    // Optional
                    // planPrice:    // Optional
                    // creationDate: // Optional
    
                    // You can add any additional account level key-values here,
                    // as long as it's not one of the above reserved names.
                }
            });
    })('c7c1329a-5547-4102-6463-68439e415848');
    </script>
  {% seo %}
</head>

<body{% if page.id %} id="{{ page.id }}"{% endif %} class="{{ page.layout }}">

  <div class="page-header pt-4 pb-5">
    <div class="container-lg">
      <div class="text-center">
        Amit
        <a href="{{ "/" | relative_url}}"><img class="logo py-3" src="{{ "/assets/img/logomark.svg" | relative_url}}" alt="GitHub and Government"></a>
        <ul>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/community/" | relative_url}}" class="text-white">Who's using GitHub</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="https://github.com/government/welcome#readme" class="text-white">Peer Group</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/accessibility" | relative_url}}" class="text-white">Accessibility</a></li>
          <li class="text-center d-block d-sm-inline-block px-1 px-md-3"><a href="{{ "/#contact-a-human" | relative_url}}" class="text-white">Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- .full-width here gets closed on support-page.html and home.html layouts -->
